@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.topbar{
    grid-column: 2;
}

.mainContent{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
}

.projectContainer{
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}

.projectContent{
    display: flex;
    flex-flow: row wrap;
}

.cardProject{
    width: 40%;
}

.announcement{
    grid-column: 2;
}

.trendingProject{
    grid-column: 2;
    grid-row: 2;
}